[mysqld]

###############
# Change Part #
###############

log-bin=mysql-bin
server-id=1

max_connections=5000

###################################
# Stable Part, SHOULD NOT CHANGE  #
###################################

bind-address=0.0.0.0

character_set_server=utf8mb4

collation_server=utf8mb4_unicode_ci

explicit_defaults_for_timestamp=true

lower_case_table_names=1

# Default values of mysql >= 5.7.8 + NO_BACKSLASH_ESCAPES for the compatibility of h2 database
sql-mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_BACKSLASH_ESCAPES"
