<?xml version="1.0" encoding="UTF-8"?>
<!-- For Spock Framework (without Spring) using -->
<configuration scan="true" scanPeriod="5 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" optional="true" />

    <logger name="io.github.springroll" level="trace"/>
    <!-- Map url to controller -->
<!--    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="trace" />-->
    <!--<logger name="org.springframework.messaging.simp.stomp" level="trace" />-->
    <!--<logger name="org.springframework.web.socket.sockjs" level="trace" />-->

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>